body{
    background-color: aquamarine;
}
.all{
    margin: 100px;
}
.Topic{
    font-size: 20px;
    margin: 0%;
}
.population{
    font-size: 20px;
    margin-bottom: 0%;
}
.population p{
    margin-top: 0%;
    margin-left: 80px;
}
.sample{
    font-size: 20px;
    margin-bottom: 0%;
}
.sample p{
    margin-top: 0%;
    margin-left: 80px;
}
.variable{
    font-size: 20px;
    margin-bottom: 0%;
}
.variable p{
    margin-top: 0%;
    margin-left: 80px;
}
.data{
    font-size: 20px;
    margin-bottom: 0%;
}
.data p{
    margin-top: 0%;
    margin-left: 80px;
}
.parameter{
    font-size: 20px;
    margin-bottom: 0%;
}
.parameter p{
    margin-top: 0%;
    margin-left: 80px;
}
.Statistic{
    font-size: 20px;
    margin-bottom: 0%;
}
.Statistic p{
    margin-top: 0%;
    margin-left: 80px;
}
.Statistics{
    font-size: 20px;
    margin-bottom: 0%;
}
.Statistics p{
    margin-top: 0%;
    margin-left: 80px;
}
.cod{
    font-size: 20px;
    margin: 0%;
}
.codall{
    text-align: center;
    font-size: 20px;
}
.tod{
    font-size: 20px;
    margin: 0%;
}
.todall{
    font-size: 23px;
    margin: 0%;
}
.pd{
    margin-top: 0%;
    font-size: 20px;
}
.upd{
    margin-top: 0%;
    font-size: 20px;
}
.mupd{
    margin-top: 0%;
    font-size: 20px;
}